@import './a.css';
@import './a.less';

* {
  padding: 0;
  margin: 0;
}

body {
  background: aqua;
  /* transform: rotate(45deg); */
}

.ico {
  width: 100px;
  height: 100px;
  background: url('./favicon.ico');
  background-size: 100% 100%;
}